<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video/Audio Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>YouTube Video/Audio Downloader</h1>
    <form action="/download" method="POST">
        <input type="text" name="url" placeholder="Enter the YouTube video link">
        <select name="format">
            <option value="video">Download Video (MP4)</option>
            <option value="audio">Download Audio (MP3)</option>
        </select>
        <input type="submit" value="Download">
    </form>
</body>
</html>